lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
tags
pids
logs
results
build

node_modules

# extras
*.swp
*.swo
*~
.project
peerdb.json

npm-debug.log
.nodemonignore

.DS_Store

src/vendors

po/*
!po/*.po
