html {
    height: 100%;
}
body {
    overflow-y:scroll;
    height: 100%;
}

.navbar-default {
    color: #FFF;
    background-color: #2291cf;
}
.navbar-default .navbar-brand {
    color: #FFF;
    font-weight: bold;
}
.currency-units{
	color:white;
}
.currency-units: hover{
	color:#2291cf;
	background-color:white;
}

#main {
    padding-top: 80px;
}

.main-header{
	width: 1000px;
}
.seed-input{
	width: 263%;
}
#col-prk{
	width:642px;
}
.invisible{
	visibility: hidden;
}
.error-screen{
	margin-top:10px;
}

.table-container{
padding-top:20px;
}


