html {
    height: 100%;
}
body {
    height: 100%;
    box-sizing: border-box;
}

.navbar-default {
    color: #FFF;
    background-color: #2291cf;
}
.navbar-default .navbar-brand {
    color: #FFF;
    font-weight: bold;
}
.currency-units{
	color:white;
}
.currency-units: hover{
	color:#2291cf;
	background-color:white;
}

#main {
    padding-top: 80px;
    width:1200px;
}

.main-header{
	width: 1000px;
}
.seed-input{
	width: 263%;
}

.modal {
  text-align: center;
}
.prk{
	float:right;
}
.invisible{
	visibility: hidden;
}

.error-screen{
	margin-top:10px;
}

.table-container{
padding-top:20px;
}


